---
let { link, noMargin, noUnderline } = Astro.props
---
<div class="text-center">
    <a href={link} class:list={["btn btn-ghost btn-lg gap-2 w-full md:w-fit normal-case font-normal",(!noMargin && "mb-4"),(!noUnderline && "underline")]}>
        <slot>Saiba Mais</slot>
    </a>
</div>