---
import Layout from "@layouts/partials/layoutBase.astro"
import Footer from "@layouts/partials/footer.astro"

import Cta from "@components/cta.astro"

import {Content, frontmatter as siteInfo} from 'src/siteInfo.md'

let { tema, companyName, companyDesc } = siteInfo

let f = Astro.props.frontmatter
f.tema = f.tema || (tema || "bumblebee")

let {showLogo, showTitle, showDesc} = f

---
<Layout props={f}>

    <main class="prose prose-lg prose-neutral dark:prose-invert text-white text-center mx-auto flex flex-col justify-center align-middle items-center min-h-screen">
        <section>
            {showLogo && <div class="mx-auto my-8 text-center items-center w-fit"><Content/></div>}
            {showTitle && <h1 set:html={companyName}/>}
            {showDesc && <h4 set:html={companyDesc}/>}
          </section>
          <slot/>
    </main>
    <Footer dark/>
    <script is:inline>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
    </script>
</Layout>