---
let {link,cta, fields, recaptcha} = Astro.props
---
<form id="contato-simples" class="form-control gap-4 p-4 mb-4" method="POST" action={link} data-netlify="true" name="leads" data-netlify-recaptcha={recaptcha}>
    <input name="name" type="text" placeholder="Primeiro Nome" required class="input w-full"/>
    <input name="email" type="email" placeholder="Email" required class="input w-full"/>
    <input name="tel" type="tel" placeholder="DDD + Número do Whatsapp" required class="input w-full"/>
    {recaptcha && <div data-netlify-recaptcha="true"></div>}
    <button type="submit" class="btn btn-primary dark:btn-accent font-semibold" set:html={cta}/>
</form>